@charset "UTF-8";

/*
    CORES:

    #585858 - cinza
    #7C7C7C - cinza fundo
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section.img1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: #7C7C7C url('../imagens/avenida.jpg') center bottom no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.titulo {
    display: flex;
    align-items: center;
    background-color: #585858;
    padding: 20px;
}

.titulo > h1,h2 {
    text-transform: uppercase;
    color: white;
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: 8px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4em;

    background-color: #F4F4F4;
    color: #666666;
}

.conteudo h3 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.5em;
}

.conteudo p {
    line-height: 1.8em;
    text-align: center;
}

section.img2 {
    display: flex;
    justify-content: center;
    align-items: center;

    background: url('../imagens/avenida-desfoc.jpg') no-repeat bottom center fixed;
    background-size: cover;

    height: 70vh;
}

.conteudo-black {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em;

    background-color: #282E34;
    color: #DDDDDD;
}

.conteudo-black h3 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.5em;
}

.conteudo-black p {
    line-height: 1.8em;
    text-align: center;
}

.img3 {
    display: flex;
    justify-content: center;
    align-items: center;

    background: url('../imagens/paisagem.jpg') no-repeat center center fixed;
    background-size: cover;

    height: 70vh;
}


