@charset "UTF-8";

@media screen and (min-width: 700px) and (max-width: 900px) {

    .section1 p {
        columns: 2;
        gap: 2em;
    }

    .section2 {
        display: flex;
        gap: 20px;

        padding: 15px 25px 35px 25px;
    }

    .caixa h3 {
        padding: 0px 20px;
        line-height: 1.5em;
    }

    .caixa p {
        padding: 0px 20px 40px 20px;
        line-height: 1.5em;
    }

    .section4 {
        display: flex;
    }

    .caixa-azul {
        width: 50%;
    }

    .caixa-preta {
        width: 50%;
    }

    footer {
        display: flex;
        justify-content: center;
        gap: 25%;
    }
}